In [1]:
import quandl
import datetime
from datetime import date
import pandas as pd

In [2]:
WTI_monthly = quandl.get("FRED/DCOILWTICO",start_date="1990-01-01", end_date="2020-06-01", authtoken="TYxF4cUU1kEsRwg8QEdu", collapse="monthly", order="asc")
print(WTI_monthly)

            Value
Date
1990-01-31  22.69
1990-02-28  21.55
1990-03-31  20.34
1990-04-30  18.50
1990-05-31  17.47
...           ...
2020-02-29  44.83
2020-03-31  20.51
2020-04-30  19.23
2020-05-31  35.57
2020-06-30  35.49

[366 rows x 1 columns]

In [3]:
BRENT_monthly = quandl.get("FRED/DCOILBRENTEU", start_date="1990-01-01", end_date="2020-06-01",  authtoken="TYxF4cUU1kEsRwg8QEdu", collapse="monthly", order="asc")
print(BRENT_monthly)

            Value
Date
1990-01-31  20.50
1990-02-28  19.20
1990-03-31  17.95
1990-04-30  16.35
1990-05-31  15.30
...           ...
2020-02-29  51.31
2020-03-31  14.85
2020-04-30  18.11
2020-05-31  34.15
2020-06-30  36.74

[366 rows x 1 columns]

In [4]:
##ARAB_LIGHT_monthly = quandl.get("EIA/PET_ISA4990008_M", start_date="1990-01-01", end_date="2020-06-01",  authtoken="TYxF4cUU1kEsRwg8QEdu", collapse="monthly", order="asc")
## print(ARAB_LIGHT_monthly)

In [5]:
# https://www.quandl.com/data/EIA/STEO_COPRPUS_M-U-S-Crude-Oil-Production-Monthly
US_oil_prod_monthly = quandl.get("EIA/STEO_COPRPUS_M", start_date="1990-01-01", end_date="2020-06-01",  authtoken="TYxF4cUU1kEsRwg8QEdu", collapse="monthly", order="asc")
print(US_oil_prod_monthly)

                Value
Date
1990-01-31   7.546173
1990-02-28   7.497242
1990-03-31   7.433341
1990-04-30   7.407173
1990-05-31   7.328342
...               ...
2020-01-31  12.754821
2020-02-29  12.745602
2020-03-31  12.737068
2020-04-30  12.009977
2020-05-31  10.018785

[365 rows x 1 columns]

In [6]:
# World Fuel Consumption https://www.quandl.com/data/EIA/STEO_PATC_WORLD_M-Liquid-Fuels-Consumption-Total-World-Monthly
world_fuel_cons_monthly = quandl.get("EIA/STEO_COPRPUS_M", start_date="1990-01-01", end_date="2020-06-01",  authtoken="TYxF4cUU1kEsRwg8QEdu", collapse="monthly", order="asc")
print(world_fuel_cons_monthly)

                Value
Date
1990-01-31   7.546173
1990-02-28   7.497242
1990-03-31   7.433341
1990-04-30   7.407173
1990-05-31   7.328342
...               ...
2020-01-31  12.754821
2020-02-29  12.745602
2020-03-31  12.737068
2020-04-30  12.009977
2020-05-31  10.018785

[365 rows x 1 columns]

In [7]:
## FYI found a quandl for USA fuel oil consuption so added it here - not sure if we want to keep it consistent with USA oil prduction and consumption
# US Fuel Oil Consumption, Monthly - https://www.quandl.com/data/EIA/STEO_D2TCPUS_M-Fuel-Oil-Consumption-Monthly
US_fuel_cons_monthly = quandl.get("EIA/STEO_D2TCPUS_M", start_date="1990-01-01", end_date="2020-06-01",  authtoken="TYxF4cUU1kEsRwg8QEdu", collapse="monthly", order="asc")
print(US_fuel_cons_monthly)

               Value
Date
1990-01-31  0.753155
1990-02-28  0.748481
1990-03-31  0.623640
1990-04-30  0.540263
1990-05-31  0.478315
...              ...
2020-01-31  0.495023
2020-02-29  0.444823
2020-03-31  0.333731
2020-04-30  0.259480
2020-05-31  0.163081

[365 rows x 1 columns]

In [8]:
oil_data=WTI_monthly.merge(BRENT_monthly,how='outer', left_index=True, right_index=True)
oil_data=oil_data.rename(columns={"Value_x": "WTI", "Value_y": "BRENT"})
oil_data

              WTI  BRENT
Date
1990-01-31  22.69  20.50
1990-02-28  21.55  19.20
1990-03-31  20.34  17.95
1990-04-30  18.50  16.35
1990-05-31  17.47  15.30
...           ...    ...
2020-02-29  44.83  51.31
2020-03-31  20.51  14.85
2020-04-30  19.23  18.11
2020-05-31  35.57  34.15
2020-06-30  35.49  36.74

[366 rows x 2 columns]

In [9]:
oil_data=oil_data.merge(US_oil_prod_monthly,how='outer', left_index=True, right_index=True)
oil_data=oil_data.rename(columns={"Value": "US_PROD"})
oil_data

              WTI  BRENT    US_PROD
Date
1990-01-31  22.69  20.50   7.546173
1990-02-28  21.55  19.20   7.497242
1990-03-31  20.34  17.95   7.433341
1990-04-30  18.50  16.35   7.407173
1990-05-31  17.47  15.30   7.328342
...           ...    ...        ...
2020-02-29  44.83  51.31  12.745602
2020-03-31  20.51  14.85  12.737068
2020-04-30  19.23  18.11  12.009977
2020-05-31  35.57  34.15  10.018785
2020-06-30  35.49  36.74        NaN

[366 rows x 3 columns]

In [10]:
oil_data=oil_data.merge(US_fuel_cons_monthly,how='outer', left_index=True, right_index=True)
oil_data=oil_data.rename(columns={"Value": "US_CONS"})
oil_data

              WTI  BRENT    US_PROD   US_CONS
Date
1990-01-31  22.69  20.50   7.546173  0.753155
1990-02-28  21.55  19.20   7.497242  0.748481
1990-03-31  20.34  17.95   7.433341  0.623640
1990-04-30  18.50  16.35   7.407173  0.540263
1990-05-31  17.47  15.30   7.328342  0.478315
...           ...    ...        ...       ...
2020-02-29  44.83  51.31  12.745602  0.444823
2020-03-31  20.51  14.85  12.737068  0.333731
2020-04-30  19.23  18.11  12.009977  0.259480
2020-05-31  35.57  34.15  10.018785  0.163081
2020-06-30  35.49  36.74        NaN       NaN

[366 rows x 4 columns]

In [11]:
oil_data=oil_data.merge(world_fuel_cons_monthly,how='outer', left_index=True, right_index=True)
oil_data=oil_data.rename(columns={"Value": "WORLD_CONS"})
oil_data

              WTI  BRENT    US_PROD   US_CONS  WORLD_CONS
Date
1990-01-31  22.69  20.50   7.546173  0.753155    7.546173
1990-02-28  21.55  19.20   7.497242  0.748481    7.497242
1990-03-31  20.34  17.95   7.433341  0.623640    7.433341
1990-04-30  18.50  16.35   7.407173  0.540263    7.407173
1990-05-31  17.47  15.30   7.328342  0.478315    7.328342
...           ...    ...        ...       ...         ...
2020-02-29  44.83  51.31  12.745602  0.444823   12.745602
2020-03-31  20.51  14.85  12.737068  0.333731   12.737068
2020-04-30  19.23  18.11  12.009977  0.259480   12.009977
2020-05-31  35.57  34.15  10.018785  0.163081   10.018785
2020-06-30  35.49  36.74        NaN       NaN         NaN

[366 rows x 5 columns]

In [12]:
oil_data.dropna(inplace=True)
oil_data

              WTI  BRENT    US_PROD   US_CONS  WORLD_CONS
Date
1990-01-31  22.69  20.50   7.546173  0.753155    7.546173
1990-02-28  21.55  19.20   7.497242  0.748481    7.497242
1990-03-31  20.34  17.95   7.433341  0.623640    7.433341
1990-04-30  18.50  16.35   7.407173  0.540263    7.407173
1990-05-31  17.47  15.30   7.328342  0.478315    7.328342
...           ...    ...        ...       ...         ...
2020-01-31  51.58  57.77  12.754821  0.495023   12.754821
2020-02-29  44.83  51.31  12.745602  0.444823   12.745602
2020-03-31  20.51  14.85  12.737068  0.333731   12.737068
2020-04-30  19.23  18.11  12.009977  0.259480   12.009977
2020-05-31  35.57  34.15  10.018785  0.163081   10.018785

[365 rows x 5 columns]

In [13]:
### export to CSV
oil_data.to_csv("oil_data.csv")